* {
	margin: auto;
	transition: all .2s;
}

body {
	background-color: #fff;
}

@font-face { 
	font-family: PFSquareSansProMedium; 
	src: url('../fonts/PFSquareSansProMedium.ttf'); 
}

@font-face {
	font-family: PF Square Sans Pro Regular;
	src: url('../fonts/PF Square Sans Pro Regular.ttf');
}

@font-face {
	font-family: pfsquaresanspro-bold;
	src: url('../fonts/pfsquaresanspro-bold.ttf');
}

header {
	width: 100%;
	height: 84.48px;
	background-color: #599D29;
	
}

.header__org {
	padding: 7px 0;
	margin: 0 auto;
	text-align: center;
}

.logo {
	width: 200px;
	padding: 0 0;
	display: inline;
}

.org {
	width: 300px;
	font-size: 32px;
	font-weight: bolder;
	font-family: PFSquareSansProMedium, sans-serif;
	color: #fff;
	padding: 0 40px;
	padding-right: 444px;
	display: inline;
	vertical-align: middle;
}

.phone {
	width: 500px;
	font-size: 32px;
	font-weight: bolder;
	font-family: PFSquareSansProMedium, sans-serif;
	color: #fff;	
	/*padding: 21.12px 233px;*/
	display: inline;
	padding: 0 2px;
	vertical-align: middle;
}

.header__content-wrapper {
	width: 100%;
	border-top: 0.5em solid #1D6C22;
	border-bottom: 0.5em solid #1D6C22;
	background-image: url('../img/header.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 700.92px;
}

.header__content-text1 {
	margin-top: 43.56px;
	margin-bottom: 19.14px;
	text-align: center;
}

.header__content-text1 span {
	display: inline-block;
	color: #002636;	
	font-size: 50px;
	font-family: PFSquareSansProMedium;
	font-weight: bolder; 
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    padding: 19.8px 20px;
	background-color: rgba(247,246,237,.5);
 	border-radius: 40px;
 	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header__content-text2 {
	text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bolder; 
    font-family: PFSquareSansProMedium;
}

.header__content-auth-form {
	width: 1000px;
	text-align: -webkit-right;
	padding: 40px 665px;
}

/*@media (max-width: 768px) {
	.header__content-auth-form {
		text-align: -webkit-right;
	}

	.header__content-auth-form form {
		margin-right: 15px;
		margin-bottom: 11px;
	}

	.header__content-garanty {
		text-align: right;
		padding-right: 15px;
	}
}*/

.header__content-auth-form form {
	text-align: -webkit-right;
	padding: 0 200px;
	font-weight: bolder;
	color: #fff;
	font-family: PFSquareSansProMedium, sans-serif;
	text-align: center;
	font-size: 30px;
	
}

input.text {
	width: 450px;
	display: block;
    background-color: rgba(247,246,237,.001);
 	box-shadow: 0 0 10px rgba(0,0,0,0.5);
 	border-radius: 18px;
   	margin-bottom: 17.7px;
    padding: 13.86px;
    color: #fff;
    font-size: 26px;
    font-weight: bolder;
    border: 5px solid #FFF;
}

input.submit {
	width: 450px;
    background-color: rgba(247,246,237,.5);
 	border-radius: 18px;
 	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #002636;
    font-size: 40px;
    font-weight: bolder;
    border-color: white;
    text-transform: uppercase;
    padding: 9.9px;
    display: block;
}

input.text:hover {
	color: white;
}

.header__content-garanty {
    color: #000000;
    font-size: 22px;
    font-family: PFSquareSansProMedium, sans-serif;
    padding: 10px 200px;
}

.content {
	width: 100%;
}

.content ul {
	width: 100%;
	height: auto;
	list-style: none;
	text-align: center;
	font-family: pfsquaresanspro-bold, sans serif;
	font-size: 47px;
	font-weight: bolder;
	color: #001F57;
	margin: 25.08px auto;
}

.content li {
	line-height: 36.3px;
	font-family: pfsquaresanspro-bold, sans serif;
	font-weight: bolder;
}

.content__shares {
	width: 100%;
	margin: 28.38px auto;
	text-align: center;
	font-family: PFSquareSansProMedium, sans serif;
	font-size: 33px;
	color: #001F57;
}

.timer__js {
	width: 100%;
	padding-bottom: 48.18px;

}

.how__we-work {
	width: 100%;
	font-family: pfsquaresanspro-bold;
	font-size: 45px;
	color: #fff;
	position: absolute;
	text-align: center;
	margin: 23.76px auto;
}

.content__image-green {
	width: 100%;
	background-image: url('../img/green_2.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 405.02px;
}

.position__text {
	position: absolute;
	z-index: 2;
	padding-top: 200px;
	/*padding-left: 285px;*/
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.texts {
	padding: 20px 0px;
	float: left;
	font-size: 1.3em;
	font-family: PFSquareSansProMedium;
	color: #fff;
	width: 200px;
	text-align: center;
}

.position__numbers {
	position: absolute;
	z-index: 1;
	padding: 80px 0px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top: 180px;
	line-height: 0px;
	text-align: -webkit-center;
	width: 1000px;
}

.numbers {
	color: rgba(237, 237, 237, .4);
	font-family: PFSquareSansProMedium;
	font-size: 17em;
	font-weight: bolder;
}

.content__what-ull-get {
	width: 100%;
	margin-bottom: 18px;
}

.content__title {
	font-family: PFSquareSansProMedium, sans-serif;
	text-align: center;
	font-size: 45px;
	color: #002636;
	margin-top: 23.1px;
	margin-bottom: 30.36px;
	font-weight: bolder;
}

.content__backgr {
	display: inline-block;
	width: 267px;
	height: 265px;
	background: url('../img/sprite_1.png') no-repeat;
	margin-left: 193px;
}

.content__bg-position {
	width: 100%;
	text-align: -webkit-center;
	margin-left: -130px;
}

.place1 {
	background-position: 0 -1px;
	margin-left: 272px;
}

.place2 {
	background-position: 0 -266px;
	margin-left: 113px;
}

.place3 {
	background-position: 0 -531px;
	margin-left: 116px;
}

.content__description {
	width: 100%;
	margin: 20px auto;
	text-align: center;
}

.content__description span {
	text-transform: uppercase;
	font-family: PFSquareSansProMedium, sans-serif;
	font-size: 22px;
	color: #002636;
	padding: 0 80px;
}

.content__request-wrapper {
	width: 100%;
	padding: 10.56px 0;
	background-image: url('../img/green_2.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 490.42px;
}

.content__request-wrapper span {
	width: 100%;
	display: inline-block;
	font-weight: bolder;
	color: #fff;
	font-family: PFSquareSansProMedium, sans-serif;
	text-align: center;
	font-size: 47px;
	margin-top: 11.88px;
}

.content__request-wrapper form {
	width: 100%;
	margin: 7.92px auto;
	display: block;
	font-weight: bolder;
	color: #fff;
	font-family: PFSquareSansProMedium, sans-serif;
	text-align: center;
	font-size: 30px;
	margin-top: 45.54px;
}

.content__request-wrapper form input[type="text"]{
	width: 450px;
	display: block;
	margin: 29.7px auto;
}

.content__request-wrapper form input[type="submit"]{
	width: 450px;
	display: block;
	margin: 0 auto;
}

.content__garanty {
	width: 100%;
	display: inline-block;
    color: #000000;
    font-size: 22px;
    text-align: center;
    font-family: PFSquareSansProMedium, sans-serif;
}

.content__garanty ul {
	list-style: none;
}

.content__response {
	text-align: center;
	font-weight: bolder;
	font-size: 46px;
	color: #002636;
	font-family: PFSquareSansProMedium, sans-serif;
	margin: 23.1px auto;
	height: 510.88px;
	width: 100%;
	display: inline-table;
}

.content__response-position {
	
}

.response__workers-1 {
	width: 700px;
	float: right;
	text-align: left;
	/*padding-left: 30px;*/
	margin: 26.4px auto;
	margin-top: 50px;
}

.workers__photo {
	width: 150px;
	float: left;
}

.work-img {
	border-radius: 50%;
}

.about__worker {
	font-size: 19px;
	color: #002636;
	font-family: PF Square Sans Pro Regular, sans-serif;
	width: 270px;
	margin: 0px 150px;
	/*padding-top: 4.16px;*/
}



.content__workers {
	width: 100%;
	background-image: url('../img/green_2.png');
	background-repeat: no-repeat;
	background-size: cover; 
	height: 353.4px;
}

.our__experts {
	display: block;
	font-family: PFSquareSansProMedium, sans-serif;
	font-size: 46px;
	font-weight: bolder;
	color: #002636;
	text-align: center;
	padding-top: 22.44px;
}

.slide {
	width: 680px;
	margin: 0 auto;
	
}
.carousel-control {
	background-image: none !important;
}
.carousel-inner .xyz {
	height: 217.8px !important;
}

.glyphicon.glyphicon-chevron-left {
	margin-left: -144px !important;
	font-size: 70px;
	margin-top: -26.4px;
}

.glyphicon.glyphicon-chevron-right {
	margin-right: -106px !important;
	font-size: 70px;
	margin-top: -26.4px;
}

.carousel img {
	margin: 0 auto;
}

.carousel-indicators {
	bottom: 3.3px;
}

.container {
	padding-top: 26.4px;
}

.content__information {
	width: 100%;
	text-align: center;
}

.contact__info {
	font-family: PFSquareSansProMedium, sans-serif;
	font-size: 46px;
	font-weight: bolder;
	color: #002636;
	text-align: center;
	margin: 23.76px auto;
}

.content__map {
	margin: 13.2px auto;
}

ul.contacts {
	padding-top: 12.54px;
	list-style: none;
	font-size:20px;
	margin-bottom: 33px;
}

ul.contacts li {
	display: inline-block;
	margin: 0 10px;
	padding-right: 1.6em;
}

footer {
	width: 100%;
	background-color: #599D29;
	border-top: 4px solid #1D6C22;
	height: 79.2px;
}

.footer__text {
	color: #fff;
	font-size: 22px;
	font-family: PFSquareSansProMedium, sans-serif;
	text-align: center;
	margin: 25.08px auto; 
}

/* HELPER FUNCTION */

.noselect { 
	-webkit-touch-callout: none; /* iOS Safari */ 
	-webkit-user-select: none; /* Chrome/Safari/Opera */ 
	-khtml-user-select: none; /* Konqueror */ 
	-moz-user-select: none; /* Firefox */ 
	-ms-user-select: none; /* Internet Explorer/Edge */ 
	user-select: none; /* Non-prefixed version, currently not supported by any browser */ 
}
